# ===================================================================
# Файлы операционной системы macOS
# ===================================================================

# Общие файлы
.DS_Store
.AppleDouble
.LSOverride

# Иконки и миниатюры
._*
Icon?

# Файлы, создаваемые при подключении к сетевым дискам
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Файлы Spotlight
.Spotlight-V100
.fseventsd


# ===================================================================
# Файлы и папки Visual Studio Code
# ===================================================================

# Папка с настройками рабочей области
.vscode/*

# Исключаем файлы, которые могут быть полезны для команды
# Например, рекомендованные расширения или настройки запуска
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Логи и история
.history/
*.code-workspace

# Расширения
.ionide/
.jslint/