* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    font-size: 25px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Header */
.header {
    background: #3188B2;
    color: white;
    padding: 25px 0;
    position: relative;
    overflow: hidden;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo img {
    height: 50px;
}

.version-badge {
    top: 20px;
    right: 20px;
    background: white;
    color: #333;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

/* Main Section */
.main-section {
    padding: 40px 0;
    background: url(img/main-section-bg.png) no-repeat center center;
    position: relative;
    flex: 1;
}

.main-content {
    margin: 0 auto;
}

.video-title h2 {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 10px;
    color: #338DB2;
    text-transform: uppercase;
    margin-bottom: 30px;
}

/* .video-subtitle {
    font-size: 1.8rem;
    color: #304659;
    line-height: 1.4;
    font-weight: 500;
    padding-bottom: 20px;
} */


.video-container {
    margin: 0 auto;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-text {
    width: 100%;
}

.video-box {
    width: 100%;
}

.offer-items {
    margin-top: 50px;
    line-height: 1.2;
}

.cta-text {
    font-weight: 700;
}


/* Footer */
.footer {
    background: #383d44;
    color: white;
    padding: 25px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.footer-recognition {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.footer-recognition img {
    height: 80px;
}

.footer-recognition img:first-child {
    height: 50px;
}

/* Responsive */
@media (max-width: 768px) {


    .main-content {
        font-size: 23px;
    }

    .video-title h2 {
        font-size: 1.6rem;
    }

    /* .video-subtitle {
        font-size: 1.3rem;
    } */

    .video-container {
        margin: 0 auto;
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .footer-recognition img {
        height: 40px;
    }

    .footer-recognition {
        flex-wrap: wrap;
        justify-content: left
    }

}

@media (max-width: 425px) {
    .main-content {
        font-size: 20px;
    }

    .logo img {
        height: 40px;
    }

    .version-text {
        font-size: 15px;


    }

    .container {
        padding: 0 15px;
    }

    .video-title h2 {
        font-size: 0.9rem;
    }

    /* .video-subtitle {
        font-size: 1.2rem;
    } */

    .footer-recognition img {
        height: 50px;
    }

    .footer-recognition img:first-child {
        height: 30px;
    }

    .footer-recognition {
        flex-wrap: wrap;
        justify-content: left
    }

}